{% extends 'layout.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-12 text-center">
        <h1>Welcome to Catalent.</h1>
        {% if session['username'] %}
            <h3>Let's get started.</h3>
            <div class="row">
              <div class="col-md-12 text-center">
                <p> Upload your report file(.pdf) from here. <p>
                </br>
              </div>
              <div class="col-md-12 text-center">
                <form enctype="multipart/form-data">
                  <input type="file" id="file" accept="application/pdf" name="file" multiple >
                  <input type="submit" class="btn btn-primary" value="Upload" formmethod="post" formaction="">
                </form>
              </div>
            </div>
        {% else %}
          <p>Already registered? <a href="{{url_for('login') }}">Login</a></p>
        {% endif %}
    </div>
  </div>
  <img src="{{ url_for('static', filename='resources/bg_image.png') }}" style="float:right; height:600; width: 700px;">
{% endblock %}

