{% extends 'layout.html' %}
{% block content %}
  
    <div class="container">
        <h1>Registration Page</h1>
        <!-- <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Re-type Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email again">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form> -->

        <form name="register" action="" method="post" novalidate>
            <fieldset class="form-group">    
                {{ form.hidden_tag() }}       
                    <p> {{ form.email.label }}</br>
                        {{ form.email }}
                        {% for error in form.email.errors %}
                         <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>

                    <p> {{ form.retypedEmail.label }}</br>
                        {{ form.retypedEmail }}
                        {% for error in form.retypedEmail.errors %}
                         <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>
                
                    <p> {{ form.password.label }}</br>
                        {{ form.password }}
                        {% for error in form.password.errors %}
                         <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>
                
                    <p> {{ form.confirmPassword.label }}</br>
                        {{ form.confirmPassword }}
                        {% for error in form.confirmPassword.errors %}
                         <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>
                
                    <p> 
                        {{ form.register() }}
                    </p>
                
            </fieldset>
            </form>
    </div>
{% endblock %}
    
