{% extends 'layout.html' %}
{% block content %}
  
<div class="container">
  <h1>Users Page</h1>
    <div class="row">
        <div class="col-md-12 text-center">
            
            {% for user in users %}
            <dl>
                <dt> Username: {{ user.username }}</dt>
                <dd> Email: {{ user.email }}</dd>
                <dd> Password: {{user.password }} </dd>
            </dl>
            {% else %}
            <h2>No uers yet !</h2>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
   
